USE [master]
GO
/****** Object:  Database [AspiraHub]    Script Date: 7/18/2026 8:44:19 PM ******/
CREATE DATABASE [AspiraHub]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AspiraHub', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AspiraHub.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AspiraHub_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AspiraHub_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AspiraHub].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AspiraHub]
GO
/****** Object:  Table [dbo].[AdminLogs]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminLogs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_id] [int] NOT NULL,
	[action] [nvarchar](100) NOT NULL,
	[target_table] [nvarchar](50) NULL,
	[target_id] [int] NULL,
	[details] [nvarchar](max) NULL,
	[ip_address] [nvarchar](50) NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_AdminLogs] PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[announcement_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_id] [int] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[target_role] [nvarchar](20) NULL,
	[is_active] [bit] NOT NULL,
	[published_at] [datetime] NOT NULL,
	[expires_at] [datetime] NULL,
 CONSTRAINT [PK_Announcements] PRIMARY KEY CLUSTERED 
(
	[announcement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CareerComparisons]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CareerComparisons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[career_id_1] [int] NOT NULL,
	[career_id_2] [int] NOT NULL,
	[compared_at] [datetime] NOT NULL,
 CONSTRAINT [PK_CareerComparisons] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Careers]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Careers](
	[career_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[average_salary] [int] NULL,
	[scope] [nvarchar](100) NULL,
	[demand_level] [nvarchar](20) NULL,
	[job_market_trend] [nvarchar](20) NULL,
 CONSTRAINT [PK_Careers] PRIMARY KEY CLUSTERED 
(
	[career_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CareerSkills]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CareerSkills](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[career_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL,
	[importance_level] [nvarchar](20) NULL,
 CONSTRAINT [PK_CareerSkills] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[chat_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[sent_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[chat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyProfiles]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyProfiles](
	[company_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[company_name] [nvarchar](100) NOT NULL,
	[industry] [nvarchar](100) NULL,
	[location] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[website] [nvarchar](200) NULL,
	[logo_url] [nvarchar](300) NULL,
	[employee_count] [nvarchar](50) NULL,
	[is_verified] [bit] NOT NULL,
	[founded_year] [int] NULL,
 CONSTRAINT [PK_CompanyProfiles] PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[contact_message_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](200) NOT NULL,
	[inquiry_type] [nvarchar](40) NULL,
	[message] [nvarchar](max) NOT NULL,
	[submitted_at] [datetime] NOT NULL,
	[is_read] [bit] NOT NULL,
	[read_by_admin_id] [int] NULL,
	[read_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[contact_message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseRecommendations]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseRecommendations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[match_score] [int] NULL,
	[recommended_at] [datetime] NOT NULL,
 CONSTRAINT [PK_CourseRecommendations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseSkills]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseSkills](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL,
 CONSTRAINT [PK_CourseSkills] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DegreePrograms]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DegreePrograms](
	[program_id] [int] IDENTITY(1,1) NOT NULL,
	[program_name] [nvarchar](100) NOT NULL,
	[full_name] [nvarchar](200) NULL,
	[education_level] [nvarchar](50) NOT NULL,
	[total_semesters] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[category] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[program_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DirectMessages]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DirectMessages](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[sender_id] [int] NOT NULL,
	[receiver_id] [int] NOT NULL,
	[body] [nvarchar](max) NOT NULL,
	[sent_at] [datetime] NOT NULL,
	[is_read] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goals]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goals](
	[goal_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NOT NULL,
	[description] [nvarchar](500) NULL,
	[category] [nvarchar](50) NULL,
	[goal_type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Goals] PRIMARY KEY CLUSTERED 
(
	[goal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InstituteCourses]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstituteCourses](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[institute_id] [int] NOT NULL,
	[course_name] [nvarchar](150) NOT NULL,
	[duration] [nvarchar](50) NULL,
	[fee] [nvarchar](50) NULL,
	[certificate_criteria] [nvarchar](max) NULL,
 CONSTRAINT [PK_InstituteCourses] PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InstituteLocations]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstituteLocations](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[institute_id] [int] NOT NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
 CONSTRAINT [PK_InstituteLocations] PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Institutes]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Institutes](
	[institute_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[type] [nvarchar](50) NULL,
	[website] [nvarchar](200) NULL,
	[contact] [nvarchar](100) NULL,
	[city] [nvarchar](100) NULL,
	[mode] [nvarchar](20) NULL,
 CONSTRAINT [PK_Institutes] PRIMARY KEY CLUSTERED 
(
	[institute_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobApplications]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobApplications](
	[application_id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[cover_letter] [nvarchar](max) NULL,
	[resume_url] [nvarchar](300) NULL,
	[applied_at] [datetime] NOT NULL,
	[reviewed_at] [datetime] NULL,
 CONSTRAINT [PK_JobApplications] PRIMARY KEY CLUSTERED 
(
	[application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobMatching]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobMatching](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[match_score] [int] NULL,
	[matched_at] [datetime] NOT NULL,
 CONSTRAINT [PK_JobMatching] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobPostings]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobPostings](
	[job_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[location] [nvarchar](100) NULL,
	[industry_type] [nvarchar](100) NULL,
	[job_type] [nvarchar](50) NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[website] [nvarchar](200) NULL,
	[salary] [nvarchar](50) NULL,
	[job_time] [nvarchar](50) NULL,
	[experience] [nvarchar](50) NULL,
	[contact_email] [nvarchar](100) NULL,
	[status] [nvarchar](20) NOT NULL,
	[deadline] [date] NULL,
	[posted_date] [datetime] NOT NULL,
	[views_count] [int] NOT NULL,
	[applications_count] [int] NOT NULL,
 CONSTRAINT [PK_JobPostings] PRIMARY KEY CLUSTERED 
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobSkills]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobSkills](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL,
 CONSTRAINT [PK_JobSkills] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[sender_id] [int] NOT NULL,
	[receiver_id] [int] NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[is_read] [bit] NOT NULL,
	[sent_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notif_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[body] [nvarchar](500) NULL,
	[ref_id] [int] NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[notif_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResets]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[otp_code] [nvarchar](10) NOT NULL,
	[expires_at] [datetime] NOT NULL,
	[used] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_PasswordResets] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramSkills]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramSkills](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[program_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL,
 CONSTRAINT [PK_ProgramSkills] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoadmapProgress]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoadmapProgress](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[step_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[completed_at] [datetime] NULL,
 CONSTRAINT [PK_RoadmapProgress] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roadmaps]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roadmaps](
	[roadmap_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[career_id] [int] NULL,
	[template_id] [int] NULL,
	[title] [nvarchar](100) NOT NULL,
	[type] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[status] [nvarchar](20) NOT NULL,
	[duration_months] [int] NOT NULL,
	[target_end_date] [datetime] NULL,
 CONSTRAINT [PK_Roadmaps] PRIMARY KEY CLUSTERED 
(
	[roadmap_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoadmapSteps]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoadmapSteps](
	[step_id] [int] IDENTITY(1,1) NOT NULL,
	[roadmap_id] [int] NOT NULL,
	[step_title] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[step_order] [int] NOT NULL,
	[resource_url] [nvarchar](300) NULL,
 CONSTRAINT [PK_RoadmapSteps] PRIMARY KEY CLUSTERED 
(
	[step_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoadmapTemplates]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoadmapTemplates](
	[template_id] [int] IDENTITY(1,1) NOT NULL,
	[career_id] [int] NULL,
	[title] [nvarchar](150) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_by] [int] NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[education_level] [nvarchar](50) NULL,
 CONSTRAINT [PK_RoadmapTemplates] PRIMARY KEY CLUSTERED 
(
	[template_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoadmapTemplateSteps]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoadmapTemplateSteps](
	[step_id] [int] IDENTITY(1,1) NOT NULL,
	[template_id] [int] NOT NULL,
	[step_title] [nvarchar](150) NOT NULL,
	[description] [nvarchar](max) NULL,
	[step_order] [int] NOT NULL,
	[resource_url] [nvarchar](300) NULL,
 CONSTRAINT [PK_RoadmapTemplateSteps] PRIMARY KEY CLUSTERED 
(
	[step_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavedItems]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedItems](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[item_type] [nvarchar](20) NOT NULL,
	[item_id] [int] NOT NULL,
	[saved_at] [datetime] NOT NULL,
 CONSTRAINT [PK_SavedItems] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SemesterMilestones]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SemesterMilestones](
	[milestone_id] [int] IDENTITY(1,1) NOT NULL,
	[program_id] [int] NOT NULL,
	[semester_number] [int] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[milestone_type] [nvarchar](50) NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[milestone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[session_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token] [nvarchar](512) NOT NULL,
	[device_info] [nvarchar](200) NULL,
	[ip_address] [nvarchar](50) NULL,
	[expires_at] [datetime] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Sessions] PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkillGapAnalysis]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillGapAnalysis](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[career_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL,
	[required_level] [nvarchar](20) NULL,
	[current_level] [nvarchar](20) NULL,
	[gap_level] [nvarchar](20) NULL,
	[analyzed_at] [datetime] NOT NULL,
	[missing_skills] [nvarchar](max) NULL,
	[match_percentage] [int] NOT NULL,
 CONSTRAINT [PK_SkillGapAnalysis] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[skill_id] [int] IDENTITY(1,1) NOT NULL,
	[skill_name] [nvarchar](100) NOT NULL,
	[category] [nvarchar](50) NULL,
 CONSTRAINT [PK_Skills] PRIMARY KEY CLUSTERED 
(
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentCourses]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentCourses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[enrolled_at] [datetime] NOT NULL,
	[completed_at] [datetime] NULL,
 CONSTRAINT [PK_StudentCourses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentProfiles]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentProfiles](
	[student_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[phone] [nvarchar](20) NULL,
	[city] [nvarchar](100) NULL,
	[bio] [nvarchar](500) NULL,
	[education_level] [nvarchar](50) NULL,
	[field_of_study] [nvarchar](100) NULL,
	[interests] [nvarchar](255) NULL,
	[resume_url] [nvarchar](300) NULL,
	[linkedin_url] [nvarchar](300) NULL,
	[profile_completion] [int] NOT NULL,
	[goal] [nvarchar](200) NULL,
	[university_name] [nvarchar](200) NULL,
	[program] [nvarchar](100) NULL,
	[current_semester] [int] NULL,
	[degree_program_id] [int] NULL,
	[university_id] [int] NULL,
 CONSTRAINT [PK_StudentProfiles] PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentSkills]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentSkills](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL,
	[proficiency_level] [nvarchar](20) NULL,
	[category] [nvarchar](50) NULL,
 CONSTRAINT [PK_StudentSkills] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Universities]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Universities](
	[university_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[location] [nvarchar](100) NULL,
	[ranking] [int] NULL,
	[type] [nvarchar](50) NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[programs] [nvarchar](max) NULL,
	[website] [nvarchar](200) NULL,
	[description] [nvarchar](max) NULL,
	[facilities] [nvarchar](max) NULL,
	[fee_structure] [nvarchar](max) NULL,
	[admission_open_date] [date] NULL,
	[contact_phone] [nvarchar](20) NULL,
	[contact_email] [nvarchar](100) NULL,
	[avg_fee_per_semester] [int] NULL,
	[environment] [nvarchar](50) NULL,
	[sector] [nvarchar](20) NULL,
 CONSTRAINT [PK_Universities] PRIMARY KEY CLUSTERED 
(
	[university_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UniversityPrograms]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UniversityPrograms](
	[university_program_id] [int] IDENTITY(1,1) NOT NULL,
	[university_id] [int] NOT NULL,
	[program_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[university_program_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UniversityRecommendations]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UniversityRecommendations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[university_id] [int] NOT NULL,
	[match_score] [int] NULL,
	[recommended_at] [datetime] NOT NULL,
 CONSTRAINT [PK_UniversityRec] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UniversitySuggestions]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UniversitySuggestions](
	[suggestion_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[university_name] [nvarchar](200) NOT NULL,
	[city] [nvarchar](100) NULL,
	[note] [nvarchar](500) NULL,
	[submitted_at] [datetime] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[suggestion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[hashed_password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[profile_picture] [nvarchar](300) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[unique_key] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SkillsByDepartment]    Script Date: 7/18/2026 8:44:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_SkillsByDepartment]
AS
SELECT
    s.skill_id,
    s.skill_name,
    s.category,
    dep.department_name
FROM [dbo].[Skills] s
CROSS JOIN (
    SELECT 'Pre-Engineering' AS department_name
    UNION ALL SELECT 'Pre-Medical'
    UNION ALL SELECT 'ICS'
    UNION ALL SELECT 'Commerce'
    UNION ALL SELECT 'Humanities'
) AS dep
WHERE s.category = 'General'
   OR s.category = dep.department_name;
GO
SET IDENTITY_INSERT [dbo].[AdminLogs] ON 

INSERT [dbo].[AdminLogs] ([log_id], [admin_id], [action], [target_table], [target_id], [details], [ip_address], [created_at]) VALUES (1, 1032, N'Updated Analytics Assumptions', N'PlatformSettings', NULL, N'Marketing Spend = 0, Avg Revenue/Customer = 0', NULL, CAST(N'2026-07-05T11:40:04.220' AS DateTime))
INSERT [dbo].[AdminLogs] ([log_id], [admin_id], [action], [target_table], [target_id], [details], [ip_address], [created_at]) VALUES (2, 1032, N'Deactivated User', N'Users', 1037, N'User Adeeba Sohail (Student) status changed', NULL, CAST(N'2026-07-06T17:43:58.797' AS DateTime))
INSERT [dbo].[AdminLogs] ([log_id], [admin_id], [action], [target_table], [target_id], [details], [ip_address], [created_at]) VALUES (3, 1032, N'Activated User', N'Users', 1037, N'User Adeeba Sohail (Student) status changed', NULL, CAST(N'2026-07-06T17:44:10.777' AS DateTime))
SET IDENTITY_INSERT [dbo].[AdminLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Announcements] ON 

INSERT [dbo].[Announcements] ([announcement_id], [admin_id], [title], [content], [target_role], [is_active], [published_at], [expires_at]) VALUES (5, 1032, N'HELLO ', N'WELLCOM EVERY ONE.............', N'Student', 1, CAST(N'2026-07-06T17:42:13.007' AS DateTime), NULL)
INSERT [dbo].[Announcements] ([announcement_id], [admin_id], [title], [content], [target_role], [is_active], [published_at], [expires_at]) VALUES (6, 1032, N'VEIFICATION', N'All company inform that its need to verifed their account ', N'Company', 1, CAST(N'2026-07-06T17:43:07.227' AS DateTime), NULL)
INSERT [dbo].[Announcements] ([announcement_id], [admin_id], [title], [content], [target_role], [is_active], [published_at], [expires_at]) VALUES (7, 1032, N'WECOME', N'you aspirahub as your own', NULL, 1, CAST(N'2026-07-06T17:43:41.900' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Announcements] OFF
GO
SET IDENTITY_INSERT [dbo].[CareerComparisons] ON 

INSERT [dbo].[CareerComparisons] ([id], [student_id], [career_id_1], [career_id_2], [compared_at]) VALUES (1, 1004, 13, 10, CAST(N'2026-06-21T13:07:03.463' AS DateTime))
INSERT [dbo].[CareerComparisons] ([id], [student_id], [career_id_1], [career_id_2], [compared_at]) VALUES (2, 1004, 17, 2, CAST(N'2026-06-29T21:16:28.023' AS DateTime))
INSERT [dbo].[CareerComparisons] ([id], [student_id], [career_id_1], [career_id_2], [compared_at]) VALUES (3, 1004, 13, 3, CAST(N'2026-06-29T21:16:41.773' AS DateTime))
SET IDENTITY_INSERT [dbo].[CareerComparisons] OFF
GO
SET IDENTITY_INSERT [dbo].[Careers] ON 

INSERT [dbo].[Careers] ([career_id], [title], [description], [average_salary], [scope], [demand_level], [job_market_trend]) VALUES (2, N'Web Developer', N'Designs and builds websites and web applications using front-end and back-end technologies. Works closely with designers and businesses to create functional digital experiences.', 65000, N'High demand across Pakistan, especially in software houses', N'High', N'Rising')
INSERT [dbo].[Careers] ([career_id], [title], [description], [average_salary], [scope], [demand_level], [job_market_trend]) VALUES (3, N'Software Engineer', N'Develops, tests, and maintains software systems and applications. Works on the complete software development lifecycle from requirements to deployment.', 80000, N'High demand in local and international software houses', N'High', N'Rising')
INSERT [dbo].[Careers] ([career_id], [title], [description], [average_salary], [scope], [demand_level], [job_market_trend]) VALUES (4, N'Mobile App Developer', N'Builds applications for Android and iOS platforms using frameworks like Flutter and React Native. Focuses on performance and user experience on mobile devices.', 70000, N'Growing demand due to increasing mobile-first businesses', N'High', N'Rising')
SET IDENTITY_INSERT [dbo].[Careers] OFF
GO
SET IDENTITY_INSERT [dbo].[CareerSkills] ON 

INSERT [dbo].[CareerSkills] ([id], [career_id], [skill_id], [importance_level]) VALUES (1, 14, 24, N'Medium')
INSERT [dbo].[CareerSkills] ([id], [career_id], [skill_id], [importance_level]) VALUES (2, 14, 25, N'High')
INSERT [dbo].[CareerSkills] ([id], [career_id], [skill_id], [importance_level]) VALUES (3, 14, 26, N'High')
GO
SET IDENTITY_INSERT [dbo].[CareerSkills] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatMessages] ON 

INSERT [dbo].[ChatMessages] ([chat_id], [user_id], [role], [message], [sent_at]) VALUES (13, 1032, N'user', N'hi', CAST(N'2026-07-05T11:34:22.363' AS DateTime))
INSERT [dbo].[ChatMessages] ([chat_id], [user_id], [role], [message], [sent_at]) VALUES (14, 1032, N'bot', N'Hi! Ask me about platform stats — users, companies, or job postings.', CAST(N'2026-07-05T11:34:22.757' AS DateTime))
INSERT [dbo].[ChatMessages] ([chat_id], [user_id], [role], [message], [sent_at]) VALUES (15, 1032, N'user', N'chran rate', CAST(N'2026-07-05T11:34:33.603' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChatMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[CompanyProfiles] ON 

INSERT [dbo].[CompanyProfiles] ([company_id], [user_id], [company_name], [industry], [location], [description], [website], [logo_url], [employee_count], [is_verified], [founded_year]) VALUES (1, 11, N'UCP', NULL, NULL, NULL, NULL, NULL, NULL, 0, NULL)
INSERT [dbo].[CompanyProfiles] ([company_id], [user_id], [company_name], [industry], [location], [description], [website], [logo_url], [employee_count], [is_verified], [founded_year]) VALUES (2, 1034, N'APS', NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[CompanyProfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactMessages] ON 

INSERT [dbo].[ContactMessages] ([contact_message_id], [full_name], [email], [inquiry_type], [message], [submitted_at], [is_read], [read_by_admin_id], [read_at]) VALUES (1, N'Iqra  Sohail', N'iqra@gmail.com', N'Student', N'what about you ..???', CAST(N'2026-07-15T08:53:19.107' AS DateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ContactMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseSkills] ON 

INSERT [dbo].[CourseSkills] ([id], [course_id], [skill_id]) VALUES (1, 43, 4)
INSERT [dbo].[CourseSkills] ([id], [course_id], [skill_id]) VALUES (2, 43, 46)
INSERT [dbo].[CourseSkills] ([id], [course_id], [skill_id]) VALUES (3, 43, 206)
SET IDENTITY_INSERT [dbo].[CourseSkills] OFF
GO
SET IDENTITY_INSERT [dbo].[DegreePrograms] ON 

INSERT [dbo].[DegreePrograms] ([program_id], [program_name], [full_name], [education_level], [total_semesters], [is_active], [category]) VALUES (1, N'Pre-Engineering', N'FSc Pre-Engineering', N'Intermediate', 4, 1, N'Pre-Engineering')
INSERT [dbo].[DegreePrograms] ([program_id], [program_name], [full_name], [education_level], [total_semesters], [is_active], [category]) VALUES (2, N'Pre-Medical', N'FSc Pre-Medical', N'Intermediate', 4, 1, N'Pre-Medical')
INSERT [dbo].[DegreePrograms] ([program_id], [program_name], [full_name], [education_level], [total_semesters], [is_active], [category]) VALUES (3, N'ICS', N'Intermediate in Computer Science', N'Intermediate', 4, 1, N'ICS')
SET IDENTITY_INSERT [dbo].[DegreePrograms] OFF
GO
SET IDENTITY_INSERT [dbo].[DirectMessages] ON 

INSERT [dbo].[DirectMessages] ([message_id], [sender_id], [receiver_id], [body], [sent_at], [is_read]) VALUES (1, 1033, 1032, N'hi', CAST(N'2026-07-15T09:19:34.970' AS DateTime), 1)
INSERT [dbo].[DirectMessages] ([message_id], [sender_id], [receiver_id], [body], [sent_at], [is_read]) VALUES (2, 1032, 1033, N'hi', CAST(N'2026-07-15T09:21:13.467' AS DateTime), 1)
INSERT [dbo].[DirectMessages] ([message_id], [sender_id], [receiver_id], [body], [sent_at], [is_read]) VALUES (3, 1033, 1032, N'how do you do..??', CAST(N'2026-07-15T12:05:24.253' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[DirectMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[Goals] ON 

INSERT [dbo].[Goals] ([goal_id], [title], [description], [category], [goal_type]) VALUES (1, N'Get My First Job', N'Apply and land my first full-time job after studies', N'General', N'Career')
INSERT [dbo].[Goals] ([goal_id], [title], [description], [category], [goal_type]) VALUES (2, N'Build a Strong CV', N'Create a professional CV highlighting skills and experience', N'General', N'Career')
INSERT [dbo].[Goals] ([goal_id], [title], [description], [category], [goal_type]) VALUES (3, N'Improve Communication Skills', N'Become confident in written and verbal communication', N'General', N'Skill')
GO
SET IDENTITY_INSERT [dbo].[Goals] OFF
GO
SET IDENTITY_INSERT [dbo].[InstituteCourses] ON 

INSERT [dbo].[InstituteCourses] ([course_id], [institute_id], [course_name], [duration], [fee], [certificate_criteria]) VALUES (1, 1, N'Intermediate Pre-Medical (FSc)', N'2 Years', N'PKR 8,000/year', N'60% marks in Matric')
INSERT [dbo].[InstituteCourses] ([course_id], [institute_id], [course_name], [duration], [fee], [certificate_criteria]) VALUES (2, 1, N'Intermediate Computer Science (ICS)', N'2 Years', N'PKR 8,000/year', N'50% marks in Matric')
INSERT [dbo].[InstituteCourses] ([course_id], [institute_id], [course_name], [duration], [fee], [certificate_criteria]) VALUES (3, 2, N'Intermediate Pre-Engineering (FSc)', N'2 Years', N'PKR 7,500/year', N'60% marks in Matric')
SET IDENTITY_INSERT [dbo].[InstituteCourses] OFF
GO
SET IDENTITY_INSERT [dbo].[InstituteLocations] ON 

INSERT [dbo].[InstituteLocations] ([location_id], [institute_id], [latitude], [longitude]) VALUES (1, 1, 32.1543, 74.1875)
INSERT [dbo].[InstituteLocations] ([location_id], [institute_id], [latitude], [longitude]) VALUES (2, 2, 32.1612, 74.1798)
INSERT [dbo].[InstituteLocations] ([location_id], [institute_id], [latitude], [longitude]) VALUES (3, 3, 32.1689, 74.1834)
SET IDENTITY_INSERT [dbo].[InstituteLocations] OFF
GO
SET IDENTITY_INSERT [dbo].[Institutes] ON 

INSERT [dbo].[Institutes] ([institute_id], [name], [type], [website], [contact], [city], [mode]) VALUES (1, N'Govt. Post Graduate College for Women, Satellite Town', N'Government College', N'https://gpgcw.edu.pk', N'055-9200210', NULL, NULL)
INSERT [dbo].[Institutes] ([institute_id], [name], [type], [website], [contact], [city], [mode]) VALUES (2, N'Govt. Post Graduate Islamia College, Gujranwala', N'Government College', N'https://gpgic.edu.pk', N'055-9200315', NULL, NULL)
INSERT [dbo].[Institutes] ([institute_id], [name], [type], [website], [contact], [city], [mode]) VALUES (3, N'Punjab Group of Colleges, Gujranwala', N'Private College', N'https://pgc.edu', N'055-3851200', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Institutes] OFF
GO
SET IDENTITY_INSERT [dbo].[JobApplications] ON 

INSERT [dbo].[JobApplications] ([application_id], [job_id], [student_id], [status], [cover_letter], [resume_url], [applied_at], [reviewed_at]) VALUES (1, 1, 1013, N'Reviewed', NULL, NULL, CAST(N'2026-07-07T15:41:21.460' AS DateTime), CAST(N'2026-07-15T10:45:05.920' AS DateTime))
INSERT [dbo].[JobApplications] ([application_id], [job_id], [student_id], [status], [cover_letter], [resume_url], [applied_at], [reviewed_at]) VALUES (2, 1, 1008, N'Rejected', NULL, NULL, CAST(N'2026-07-09T13:57:21.327' AS DateTime), CAST(N'2026-07-15T09:24:17.000' AS DateTime))
INSERT [dbo].[JobApplications] ([application_id], [job_id], [student_id], [status], [cover_letter], [resume_url], [applied_at], [reviewed_at]) VALUES (4, 5, 1013, N'Pending', NULL, NULL, CAST(N'2026-07-16T20:00:41.763' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[JobApplications] OFF
GO
SET IDENTITY_INSERT [dbo].[JobMatching] ON 

INSERT [dbo].[JobMatching] ([id], [job_id], [student_id], [match_score], [matched_at]) VALUES (1, 1, 1013, 0, CAST(N'2026-07-16T20:00:41.943' AS DateTime))
INSERT [dbo].[JobMatching] ([id], [job_id], [student_id], [match_score], [matched_at]) VALUES (2, 1, 1008, 0, CAST(N'2026-07-15T14:20:23.897' AS DateTime))
INSERT [dbo].[JobMatching] ([id], [job_id], [student_id], [match_score], [matched_at]) VALUES (3, 1, 1010, 0, CAST(N'2026-07-13T10:23:27.973' AS DateTime))
SET IDENTITY_INSERT [dbo].[JobMatching] OFF
GO
SET IDENTITY_INSERT [dbo].[JobPostings] ON 

INSERT [dbo].[JobPostings] ([job_id], [company_id], [title], [description], [location], [industry_type], [job_type], [latitude], [longitude], [website], [salary], [job_time], [experience], [contact_email], [status], [deadline], [posted_date], [views_count], [applications_count]) VALUES (1, 2, N'WEB DEVELPER', N'responsible', N'GUJRANWALA', N'information tecnology', N'Internship', NULL, NULL, NULL, N'0', N'10-6', N'0', N'sohailahmad@gmail.com', N'Active', CAST(N'2026-07-23' AS Date), CAST(N'2026-07-06T11:25:05.847' AS DateTime), 7, 2)
INSERT [dbo].[JobPostings] ([job_id], [company_id], [title], [description], [location], [industry_type], [job_type], [latitude], [longitude], [website], [salary], [job_time], [experience], [contact_email], [status], [deadline], [posted_date], [views_count], [applications_count]) VALUES (3, 2, N'Software Engineer', N'be regular ', N'GUJRANWALA', N'information tecnology', N'Internship', NULL, NULL, NULL, N'0', N'10-6', N'Fresh', NULL, N'Active', CAST(N'2026-07-31' AS Date), CAST(N'2026-07-16T19:51:00.940' AS DateTime), 2, 0)
INSERT [dbo].[JobPostings] ([job_id], [company_id], [title], [description], [location], [industry_type], [job_type], [latitude], [longitude], [website], [salary], [job_time], [experience], [contact_email], [status], [deadline], [posted_date], [views_count], [applications_count]) VALUES (4, 2, N'Data Scientist', NULL, N'GUJRANWALA', NULL, N'Full-time', NULL, NULL, NULL, N'20000', N'10-6', N'2', NULL, N'Active', CAST(N'2026-08-08' AS Date), CAST(N'2026-07-16T19:52:07.667' AS DateTime), 2, 0)
SET IDENTITY_INSERT [dbo].[JobPostings] OFF
GO
SET IDENTITY_INSERT [dbo].[JobSkills] ON 

INSERT [dbo].[JobSkills] ([id], [job_id], [skill_id]) VALUES (1, 1, 222)
INSERT [dbo].[JobSkills] ([id], [job_id], [skill_id]) VALUES (2, 1, 206)
INSERT [dbo].[JobSkills] ([id], [job_id], [skill_id]) VALUES (3, 1, 205)
SET IDENTITY_INSERT [dbo].[JobSkills] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([notif_id], [user_id], [type], [title], [body], [ref_id], [is_read], [created_at]) VALUES (6, 1039, N'Application', N'Application Status Updated', N'Your application status changed to ''Rejected''.', 1, 0, CAST(N'2026-07-15T10:19:52.040' AS DateTime))
INSERT [dbo].[Notifications] ([notif_id], [user_id], [type], [title], [body], [ref_id], [is_read], [created_at]) VALUES (7, 1039, N'Application', N'Application Status Updated', N'Your application status changed to ''Rejected''.', 1, 0, CAST(N'2026-07-15T10:45:04.310' AS DateTime))
INSERT [dbo].[Notifications] ([notif_id], [user_id], [type], [title], [body], [ref_id], [is_read], [created_at]) VALUES (8, 1039, N'Application', N'Application Status Updated', N'Your application status changed to ''Reviewed''.', 1, 0, CAST(N'2026-07-15T10:45:04.273' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[ProgramSkills] ON 

INSERT [dbo].[ProgramSkills] ([id], [program_id], [skill_id]) VALUES (1, 5, 1)
INSERT [dbo].[ProgramSkills] ([id], [program_id], [skill_id]) VALUES (2, 5, 2)
INSERT [dbo].[ProgramSkills] ([id], [program_id], [skill_id]) VALUES (3, 5, 3)
GO
SET IDENTITY_INSERT [dbo].[ProgramSkills] OFF
GO
SET IDENTITY_INSERT [dbo].[RoadmapProgress] ON 

INSERT [dbo].[RoadmapProgress] ([id], [step_id], [student_id], [status], [completed_at]) VALUES (1, 1, 1004, N'Completed', CAST(N'2026-06-29T21:11:22.530' AS DateTime))
INSERT [dbo].[RoadmapProgress] ([id], [step_id], [student_id], [status], [completed_at]) VALUES (2, 2, 1004, N'Completed', CAST(N'2026-06-29T21:11:37.870' AS DateTime))
INSERT [dbo].[RoadmapProgress] ([id], [step_id], [student_id], [status], [completed_at]) VALUES (3, 3, 1004, N'Completed', CAST(N'2026-07-02T11:34:49.027' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[RoadmapProgress] OFF
GO
SET IDENTITY_INSERT [dbo].[Roadmaps] ON 

INSERT [dbo].[Roadmaps] ([roadmap_id], [student_id], [career_id], [template_id], [title], [type], [created_at], [updated_at], [status], [duration_months], [target_end_date]) VALUES (5, 1004, 2, NULL, N'Web Developer Roadmap', N'Career', CAST(N'2026-06-29T21:11:06.550' AS DateTime), CAST(N'2026-07-02T11:37:08.217' AS DateTime), N'Active', 6, NULL)
INSERT [dbo].[Roadmaps] ([roadmap_id], [student_id], [career_id], [template_id], [title], [type], [created_at], [updated_at], [status], [duration_months], [target_end_date]) VALUES (1005, 1005, 20, NULL, N'Bank Operations Officer Roadmap', N'Education', CAST(N'2026-07-01T10:30:23.363' AS DateTime), CAST(N'2026-07-01T10:30:41.090' AS DateTime), N'Completed', 6, NULL)
INSERT [dbo].[Roadmaps] ([roadmap_id], [student_id], [career_id], [template_id], [title], [type], [created_at], [updated_at], [status], [duration_months], [target_end_date]) VALUES (1006, 1006, 2, NULL, N'Web Developer Roadmap', N'Education', CAST(N'2026-07-01T10:34:12.733' AS DateTime), CAST(N'2026-07-01T10:34:38.587' AS DateTime), N'Active', 6, NULL)
SET IDENTITY_INSERT [dbo].[Roadmaps] OFF
GO
SET IDENTITY_INSERT [dbo].[RoadmapSteps] ON 

INSERT [dbo].[RoadmapSteps] ([step_id], [roadmap_id], [step_title], [description], [step_order], [resource_url]) VALUES (1, 5, N'Add Your Skills to Your Profile', N'You haven''t listed any skills yet. Add them in your profile so this roadmap can tell you exactly which of the 32 skills Web Developer needs you''re missing.', 1, NULL)
INSERT [dbo].[RoadmapSteps] ([step_id], [roadmap_id], [step_title], [description], [step_order], [resource_url]) VALUES (2, 5, N'Learn JavaScript', N'This is a high-importance skill for Web Developer that isn''t on your profile yet.', 2, NULL)
INSERT [dbo].[RoadmapSteps] ([step_id], [roadmap_id], [step_title], [description], [step_order], [resource_url]) VALUES (3, 5, N'Learn HTML/CSS', N'This is a high-importance skill for Web Developer that isn''t on your profile yet.', 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[RoadmapSteps] OFF
GO
SET IDENTITY_INSERT [dbo].[RoadmapTemplates] ON 

INSERT [dbo].[RoadmapTemplates] ([template_id], [career_id], [title], [description], [created_by], [is_active], [created_at], [education_level]) VALUES (1, 17, N'Accountant Career Path', N'Complete roadmap to become a professional Accountant, from fundamentals to job-ready skills.', NULL, 1, CAST(N'2026-06-21T10:45:35.830' AS DateTime), N'Undergraduate')
INSERT [dbo].[RoadmapTemplates] ([template_id], [career_id], [title], [description], [created_by], [is_active], [created_at], [education_level]) VALUES (2, 14, N'Graphic Designer Career Path', N'Complete roadmap to become a professional Graphic Designer using industry-standard tools.', NULL, 1, CAST(N'2026-06-21T10:45:35.853' AS DateTime), N'Undergraduate')
INSERT [dbo].[RoadmapTemplates] ([template_id], [career_id], [title], [description], [created_by], [is_active], [created_at], [education_level]) VALUES (3, 16, N'HR Officer Career Path', N'Complete roadmap to become a Human Resource Officer in a corporate environment.', NULL, 1, CAST(N'2026-06-21T10:45:35.867' AS DateTime), N'Undergraduate')
SET IDENTITY_INSERT [dbo].[RoadmapTemplates] OFF
GO
SET IDENTITY_INSERT [dbo].[RoadmapTemplateSteps] ON 

INSERT [dbo].[RoadmapTemplateSteps] ([step_id], [template_id], [step_title], [description], [step_order], [resource_url]) VALUES (1, 1, N'Master Financial Accounting Principles', N'Build a strong foundation in financial accounting standards and bookkeeping practices.', 1, NULL)
INSERT [dbo].[RoadmapTemplateSteps] ([step_id], [template_id], [step_title], [description], [step_order], [resource_url]) VALUES (2, 1, N'Learn Excel for Accounting', N'Master advanced Excel functions used for financial reporting and analysis.', 2, NULL)
INSERT [dbo].[RoadmapTemplateSteps] ([step_id], [template_id], [step_title], [description], [step_order], [resource_url]) VALUES (3, 1, N'Get Familiar with Accounting Software', N'Learn to use accounting software such as QuickBooks or Tally for real-world bookkeeping.', 3, NULL)
SET IDENTITY_INSERT [dbo].[RoadmapTemplateSteps] OFF
GO
SET IDENTITY_INSERT [dbo].[SavedItems] ON 

INSERT [dbo].[SavedItems] ([id], [user_id], [item_type], [item_id], [saved_at]) VALUES (1, 1028, N'Career', 2, CAST(N'2026-06-21T13:06:36.037' AS DateTime))
INSERT [dbo].[SavedItems] ([id], [user_id], [item_type], [item_id], [saved_at]) VALUES (2, 1033, N'Career', 8, CAST(N'2026-07-09T14:34:42.927' AS DateTime))
INSERT [dbo].[SavedItems] ([id], [user_id], [item_type], [item_id], [saved_at]) VALUES (3, 1039, N'Career', 2, CAST(N'2026-07-16T20:00:08.140' AS DateTime))
SET IDENTITY_INSERT [dbo].[SavedItems] OFF
GO
SET IDENTITY_INSERT [dbo].[SemesterMilestones] ON 

INSERT [dbo].[SemesterMilestones] ([milestone_id], [program_id], [semester_number], [title], [description], [milestone_type], [is_active]) VALUES (1, 5, 1, N'Complete Foundation Courses', N'Focus on basic courses such as Programming Fundamentals, Calculus, and English. These form the foundation for all upcoming CS subjects.', N'Academic', 1)
INSERT [dbo].[SemesterMilestones] ([milestone_id], [program_id], [semester_number], [title], [description], [milestone_type], [is_active]) VALUES (2, 5, 2, N'Strengthen Programming Basics', N'Build a solid understanding of Object Oriented Programming (OOP) concepts and Data Structures. Practice coding problems daily.', N'Academic', 1)
INSERT [dbo].[SemesterMilestones] ([milestone_id], [program_id], [semester_number], [title], [description], [milestone_type], [is_active]) VALUES (3, 5, 3, N'Start Core CS Subjects', N'Begin studying Algorithms, Database Systems, and Computer Networks. These subjects are commonly asked about in job interviews.', N'Academic', 1)
GO
SET IDENTITY_INSERT [dbo].[SemesterMilestones] OFF
GO
SET IDENTITY_INSERT [dbo].[SkillGapAnalysis] ON 

INSERT [dbo].[SkillGapAnalysis] ([id], [student_id], [career_id], [skill_id], [required_level], [current_level], [gap_level], [analyzed_at], [missing_skills], [match_percentage]) VALUES (1, 1004, 2, 4, N'High', N'None', N'High', CAST(N'2026-06-29T21:15:30.687' AS DateTime), NULL, 0)
INSERT [dbo].[SkillGapAnalysis] ([id], [student_id], [career_id], [skill_id], [required_level], [current_level], [gap_level], [analyzed_at], [missing_skills], [match_percentage]) VALUES (2, 1004, 2, 7, N'High', N'None', N'High', CAST(N'2026-06-29T21:15:30.793' AS DateTime), NULL, 0)
INSERT [dbo].[SkillGapAnalysis] ([id], [student_id], [career_id], [skill_id], [required_level], [current_level], [gap_level], [analyzed_at], [missing_skills], [match_percentage]) VALUES (3, 1004, 2, 34, N'High', N'None', N'High', CAST(N'2026-06-29T21:15:30.797' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[SkillGapAnalysis] OFF
GO
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([skill_id], [skill_name], [category]) VALUES (1, N'Python', N'ICS')
INSERT [dbo].[Skills] ([skill_id], [skill_name], [category]) VALUES (2, N'Java', N'ICS')
INSERT [dbo].[Skills] ([skill_id], [skill_name], [category]) VALUES (3, N'C++', N'ICS')
GO
SET IDENTITY_INSERT [dbo].[Skills] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentProfiles] ON 

INSERT [dbo].[StudentProfiles] ([student_id], [user_id], [phone], [city], [bio], [education_level], [field_of_study], [interests], [resume_url], [linkedin_url], [profile_completion], [goal], [university_name], [program], [current_semester], [degree_program_id], [university_id]) VALUES (1, 9, NULL, NULL, N'Goal:Get a Job | University:UCP', N'Undergraduate', N'BS - Computer Science', N'Technology', NULL, NULL, 100, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[StudentProfiles] ([student_id], [user_id], [phone], [city], [bio], [education_level], [field_of_study], [interests], [resume_url], [linkedin_url], [profile_completion], [goal], [university_name], [program], [current_semester], [degree_program_id], [university_id]) VALUES (2, 10, NULL, NULL, N'Goal:Get a Job | University:UCP', N'Undergraduate', N'BS - Computer Science', N'', NULL, NULL, 100, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[StudentProfiles] ([student_id], [user_id], [phone], [city], [bio], [education_level], [field_of_study], [interests], [resume_url], [linkedin_url], [profile_completion], [goal], [university_name], [program], [current_semester], [degree_program_id], [university_id]) VALUES (3, 13, NULL, NULL, N'Goal:Get a Job | University:UCP', N'Intermediate', N'BS - Computer Science', N'Business', NULL, NULL, 100, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[StudentProfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentSkills] ON 

INSERT [dbo].[StudentSkills] ([id], [student_id], [skill_id], [proficiency_level], [category]) VALUES (1, 1005, 73, N'Beginner', NULL)
INSERT [dbo].[StudentSkills] ([id], [student_id], [skill_id], [proficiency_level], [category]) VALUES (2, 1006, 10, N'Beginner', NULL)
INSERT [dbo].[StudentSkills] ([id], [student_id], [skill_id], [proficiency_level], [category]) VALUES (4, 1009, 204, N'Advanced', NULL)
SET IDENTITY_INSERT [dbo].[StudentSkills] OFF
GO
SET IDENTITY_INSERT [dbo].[Universities] ON 

GO
SET IDENTITY_INSERT [dbo].[Universities] OFF
GO
SET IDENTITY_INSERT [dbo].[UniversityPrograms] ON 

INSERT [dbo].[UniversityPrograms] ([university_program_id], [university_id], [program_id]) VALUES (11, 2, 1)
INSERT [dbo].[UniversityPrograms] ([university_program_id], [university_id], [program_id]) VALUES (13, 2, 2)
INSERT [dbo].[UniversityPrograms] ([university_program_id], [university_id], [program_id]) VALUES (9, 2, 3)
SET IDENTITY_INSERT [dbo].[UniversityPrograms] OFF
GO
SET IDENTITY_INSERT [dbo].[UniversitySuggestions] ON 

INSERT [dbo].[UniversitySuggestions] ([suggestion_id], [student_id], [university_name], [city], [note], [submitted_at], [status]) VALUES (1, 1007, N'PU', N'gUJRANWALA', NULL, CAST(N'2026-07-03T11:17:04.453' AS DateTime), N'Pending')
INSERT [dbo].[UniversitySuggestions] ([suggestion_id], [student_id], [university_name], [city], [note], [submitted_at], [status]) VALUES (2, 1013, N'UCP', N'Gujranwalz', NULL, CAST(N'2026-07-07T15:40:45.710' AS DateTime), N'Pending')
SET IDENTITY_INSERT [dbo].[UniversitySuggestions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [name], [email], [hashed_password], [role], [profile_picture], [is_active], [created_at], [unique_key]) VALUES (9, N'Madia', N'pgcnaturequeen1122@gmail.com', N'$2a$11$m/DsU6MPrZ7Qh.vv9Jyo5./TZNlQe5Dbt9pfgW2tT46QSIEZnlqQG', N'Student', NULL, 1, CAST(N'2026-06-14T11:45:47.223' AS DateTime), N'ASP-BUJN-D4N5')
INSERT [dbo].[Users] ([user_id], [name], [email], [hashed_password], [role], [profile_picture], [is_active], [created_at], [unique_key]) VALUES (10, N'Madia', N'pgcnaturequeen112@gmail.com', N'$2a$11$8NtETuWnK/G2bVOgaIG/YOhAj56zKzhNW3uJ8yWW8Xbvk1cW.nECy', N'Student', NULL, 1, CAST(N'2026-06-14T12:17:56.050' AS DateTime), N'ASP-8Z3E-3JL5')
INSERT [dbo].[Users] ([user_id], [name], [email], [hashed_password], [role], [profile_picture], [is_active], [created_at], [unique_key]) VALUES (11, N'UCP', N'sohail.6789ahmad@gmail.com', N'$2a$11$rkm.RELhoDGEtESJEqPrfOjOtgL0oYXJ8YG.lr/32L5zapUPhtiHC', N'Company', NULL, 1, CAST(N'2026-06-15T09:46:59.050' AS DateTime), N'ASP-6G5J-4TW2')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_ContactMessages_IsRead]    Script Date: 7/18/2026 8:44:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_ContactMessages_IsRead] ON [dbo].[ContactMessages]
(
	[is_read] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DirectMessages_Receiver_IsRead]    Script Date: 7/18/2026 8:44:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_DirectMessages_Receiver_IsRead] ON [dbo].[DirectMessages]
(
	[receiver_id] ASC,
	[is_read] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DirectMessages_Sender]    Script Date: 7/18/2026 8:44:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_DirectMessages_Sender] ON [dbo].[DirectMessages]
(
	[sender_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UniversityProgram]    Script Date: 7/18/2026 8:44:20 PM ******/
ALTER TABLE [dbo].[UniversityPrograms] ADD  CONSTRAINT [UQ_UniversityProgram] UNIQUE NONCLUSTERED 
(
	[university_id] ASC,
	[program_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 7/18/2026 8:44:20 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_UniqueKey]    Script Date: 7/18/2026 8:44:20 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_UniqueKey] UNIQUE NONCLUSTERED 
(
	[unique_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminLogs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Announcements] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Announcements] ADD  DEFAULT (getdate()) FOR [published_at]
GO
ALTER TABLE [dbo].[CareerComparisons] ADD  DEFAULT (getdate()) FOR [compared_at]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[CompanyProfiles] ADD  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT (getdate()) FOR [submitted_at]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[CourseRecommendations] ADD  DEFAULT (getdate()) FOR [recommended_at]
GO
ALTER TABLE [dbo].[DegreePrograms] ADD  DEFAULT ((8)) FOR [total_semesters]
GO
ALTER TABLE [dbo].[DegreePrograms] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[DirectMessages] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[DirectMessages] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[JobApplications] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[JobApplications] ADD  DEFAULT (getdate()) FOR [applied_at]
GO
ALTER TABLE [dbo].[JobMatching] ADD  DEFAULT (getdate()) FOR [matched_at]
GO
ALTER TABLE [dbo].[JobPostings] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[JobPostings] ADD  DEFAULT (getdate()) FOR [posted_date]
GO
ALTER TABLE [dbo].[JobPostings] ADD  DEFAULT ((0)) FOR [views_count]
GO
ALTER TABLE [dbo].[JobPostings] ADD  DEFAULT ((0)) FOR [applications_count]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PasswordResets] ADD  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[PasswordResets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[RoadmapProgress] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Roadmaps] ADD  DEFAULT ('custom') FOR [type]
GO
ALTER TABLE [dbo].[Roadmaps] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Roadmaps] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[Roadmaps] ADD  CONSTRAINT [DF_Roadmaps_DurationMonths]  DEFAULT ((6)) FOR [duration_months]
GO
ALTER TABLE [dbo].[RoadmapSteps] ADD  DEFAULT ((1)) FOR [step_order]
GO
ALTER TABLE [dbo].[RoadmapTemplates] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[RoadmapTemplates] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[SavedItems] ADD  DEFAULT (getdate()) FOR [saved_at]
GO
ALTER TABLE [dbo].[SemesterMilestones] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Sessions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[SkillGapAnalysis] ADD  DEFAULT (getdate()) FOR [analyzed_at]
GO
ALTER TABLE [dbo].[SkillGapAnalysis] ADD  DEFAULT ((0)) FOR [match_percentage]
GO
ALTER TABLE [dbo].[StudentCourses] ADD  DEFAULT ('Enrolled') FOR [status]
GO
ALTER TABLE [dbo].[StudentCourses] ADD  DEFAULT (getdate()) FOR [enrolled_at]
GO
ALTER TABLE [dbo].[StudentProfiles] ADD  DEFAULT ((0)) FOR [profile_completion]
GO
ALTER TABLE [dbo].[UniversityRecommendations] ADD  DEFAULT (getdate()) FOR [recommended_at]
GO
ALTER TABLE [dbo].[UniversitySuggestions] ADD  DEFAULT (getdate()) FOR [submitted_at]
GO
ALTER TABLE [dbo].[UniversitySuggestions] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[AdminLogs]  WITH CHECK ADD  CONSTRAINT [FK_AdminLogs_Admin] FOREIGN KEY([admin_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[AdminLogs] CHECK CONSTRAINT [FK_AdminLogs_Admin]
GO
ALTER TABLE [dbo].[Announcements]  WITH CHECK ADD  CONSTRAINT [FK_Announcements_Admin] FOREIGN KEY([admin_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Announcements] CHECK CONSTRAINT [FK_Announcements_Admin]
GO
ALTER TABLE [dbo].[CareerComparisons]  WITH CHECK ADD  CONSTRAINT [FK_CareerComp_Career1] FOREIGN KEY([career_id_1])
REFERENCES [dbo].[Careers] ([career_id])
GO
ALTER TABLE [dbo].[CareerComparisons] CHECK CONSTRAINT [FK_CareerComp_Career1]
GO
ALTER TABLE [dbo].[CareerComparisons]  WITH CHECK ADD  CONSTRAINT [FK_CareerComp_Career2] FOREIGN KEY([career_id_2])
REFERENCES [dbo].[Careers] ([career_id])
GO
ALTER TABLE [dbo].[CareerComparisons] CHECK CONSTRAINT [FK_CareerComp_Career2]
GO
ALTER TABLE [dbo].[CareerComparisons]  WITH CHECK ADD  CONSTRAINT [FK_CareerComp_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[StudentProfiles] ([student_id])
GO
ALTER TABLE [dbo].[CareerComparisons] CHECK CONSTRAINT [FK_CareerComp_Student]
GO
ALTER TABLE [dbo].[CareerSkills]  WITH CHECK ADD  CONSTRAINT [FK_CareerSkills_Career] FOREIGN KEY([career_id])
REFERENCES [dbo].[Careers] ([career_id])
GO
ALTER TABLE [dbo].[CareerSkills] CHECK CONSTRAINT [FK_CareerSkills_Career]
GO
ALTER TABLE [dbo].[CareerSkills]  WITH CHECK ADD  CONSTRAINT [FK_CareerSkills_Skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[Skills] ([skill_id])
GO
ALTER TABLE [dbo].[CareerSkills] CHECK CONSTRAINT [FK_CareerSkills_Skill]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Users]
GO
ALTER TABLE [dbo].[CompanyProfiles]  WITH CHECK ADD  CONSTRAINT [FK_CompanyProfiles_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[CompanyProfiles] CHECK CONSTRAINT [FK_CompanyProfiles_User]
GO
ALTER TABLE [dbo].[ContactMessages]  WITH CHECK ADD  CONSTRAINT [FK_ContactMessages_ReadByAdmin] FOREIGN KEY([read_by_admin_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[ContactMessages] CHECK CONSTRAINT [FK_ContactMessages_ReadByAdmin]
GO
ALTER TABLE [dbo].[CourseRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_CourseRec_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[InstituteCourses] ([course_id])
GO
ALTER TABLE [dbo].[CourseRecommendations] CHECK CONSTRAINT [FK_CourseRec_Course]
GO
ALTER TABLE [dbo].[CourseRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_CourseRec_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[StudentProfiles] ([student_id])
GO
ALTER TABLE [dbo].[CourseRecommendations] CHECK CONSTRAINT [FK_CourseRec_Student]
GO
ALTER TABLE [dbo].[CourseSkills]  WITH CHECK ADD  CONSTRAINT [FK_CourseSkills_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[InstituteCourses] ([course_id])
GO
ALTER TABLE [dbo].[CourseSkills] CHECK CONSTRAINT [FK_CourseSkills_Course]
GO
ALTER TABLE [dbo].[CourseSkills]  WITH CHECK ADD  CONSTRAINT [FK_CourseSkills_Skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[Skills] ([skill_id])
GO
ALTER TABLE [dbo].[CourseSkills] CHECK CONSTRAINT [FK_CourseSkills_Skill]
GO
ALTER TABLE [dbo].[DirectMessages]  WITH CHECK ADD  CONSTRAINT [FK_DirectMessages_Receiver] FOREIGN KEY([receiver_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[DirectMessages] CHECK CONSTRAINT [FK_DirectMessages_Receiver]
GO
ALTER TABLE [dbo].[DirectMessages]  WITH CHECK ADD  CONSTRAINT [FK_DirectMessages_Sender] FOREIGN KEY([sender_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[DirectMessages] CHECK CONSTRAINT [FK_DirectMessages_Sender]
GO
ALTER TABLE [dbo].[InstituteCourses]  WITH CHECK ADD  CONSTRAINT [FK_InstCourse_Institute] FOREIGN KEY([institute_id])
REFERENCES [dbo].[Institutes] ([institute_id])
GO
ALTER TABLE [dbo].[InstituteCourses] CHECK CONSTRAINT [FK_InstCourse_Institute]
GO
ALTER TABLE [dbo].[InstituteLocations]  WITH CHECK ADD  CONSTRAINT [FK_InstLoc_Institute] FOREIGN KEY([institute_id])
REFERENCES [dbo].[Institutes] ([institute_id])
GO
ALTER TABLE [dbo].[InstituteLocations] CHECK CONSTRAINT [FK_InstLoc_Institute]
GO
ALTER TABLE [dbo].[JobApplications]  WITH CHECK ADD  CONSTRAINT [FK_JobApp_Job] FOREIGN KEY([job_id])
REFERENCES [dbo].[JobPostings] ([job_id])
GO
ALTER TABLE [dbo].[JobApplications] CHECK CONSTRAINT [FK_JobApp_Job]
GO
ALTER TABLE [dbo].[JobApplications]  WITH CHECK ADD  CONSTRAINT [FK_JobApp_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[StudentProfiles] ([student_id])
GO
ALTER TABLE [dbo].[JobApplications] CHECK CONSTRAINT [FK_JobApp_Student]
GO
ALTER TABLE [dbo].[JobMatching]  WITH CHECK ADD  CONSTRAINT [FK_JobMatch_Job] FOREIGN KEY([job_id])
REFERENCES [dbo].[JobPostings] ([job_id])
GO
ALTER TABLE [dbo].[JobMatching] CHECK CONSTRAINT [FK_JobMatch_Job]
GO
ALTER TABLE [dbo].[JobMatching]  WITH CHECK ADD  CONSTRAINT [FK_JobMatch_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[StudentProfiles] ([student_id])
GO
ALTER TABLE [dbo].[JobMatching] CHECK CONSTRAINT [FK_JobMatch_Student]
GO
ALTER TABLE [dbo].[JobPostings]  WITH CHECK ADD  CONSTRAINT [FK_JobPostings_Company] FOREIGN KEY([company_id])
REFERENCES [dbo].[CompanyProfiles] ([company_id])
GO
ALTER TABLE [dbo].[JobPostings] CHECK CONSTRAINT [FK_JobPostings_Company]
GO
ALTER TABLE [dbo].[JobSkills]  WITH CHECK ADD  CONSTRAINT [FK_JobSkills_Job] FOREIGN KEY([job_id])
REFERENCES [dbo].[JobPostings] ([job_id])
GO
ALTER TABLE [dbo].[JobSkills] CHECK CONSTRAINT [FK_JobSkills_Job]
GO
ALTER TABLE [dbo].[JobSkills]  WITH CHECK ADD  CONSTRAINT [FK_JobSkills_Skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[Skills] ([skill_id])
GO
ALTER TABLE [dbo].[JobSkills] CHECK CONSTRAINT [FK_JobSkills_Skill]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Receiver] FOREIGN KEY([receiver_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Receiver]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Sender] FOREIGN KEY([sender_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Sender]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_User]
GO
ALTER TABLE [dbo].[PasswordResets]  WITH CHECK ADD  CONSTRAINT [FK_PasswordResets_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[PasswordResets] CHECK CONSTRAINT [FK_PasswordResets_User]
GO
ALTER TABLE [dbo].[ProgramSkills]  WITH CHECK ADD  CONSTRAINT [FK_ProgramSkills_DegreePrograms] FOREIGN KEY([program_id])
REFERENCES [dbo].[DegreePrograms] ([program_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProgramSkills] CHECK CONSTRAINT [FK_ProgramSkills_DegreePrograms]
GO
ALTER TABLE [dbo].[ProgramSkills]  WITH CHECK ADD  CONSTRAINT [FK_ProgramSkills_Skills] FOREIGN KEY([skill_id])
REFERENCES [dbo].[Skills] ([skill_id])
GO
ALTER TABLE [dbo].[ProgramSkills] CHECK CONSTRAINT [FK_ProgramSkills_Skills]
GO
ALTER TABLE [dbo].[RoadmapProgress]  WITH CHECK ADD  CONSTRAINT [FK_RoadmapProg_Step] FOREIGN KEY([step_id])
REFERENCES [dbo].[RoadmapSteps] ([step_id])
GO
ALTER TABLE [dbo].[RoadmapProgress] CHECK CONSTRAINT [FK_RoadmapProg_Step]
GO
ALTER TABLE [dbo].[RoadmapProgress]  WITH CHECK ADD  CONSTRAINT [FK_RoadmapProg_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[StudentProfiles] ([student_id])
GO
ALTER TABLE [dbo].[RoadmapProgress] CHECK CONSTRAINT [FK_RoadmapProg_Student]
GO
ALTER TABLE [dbo].[Roadmaps]  WITH CHECK ADD  CONSTRAINT [FK_Roadmaps_Career] FOREIGN KEY([career_id])
REFERENCES [dbo].[Careers] ([career_id])
GO
ALTER TABLE [dbo].[Roadmaps] CHECK CONSTRAINT [FK_Roadmaps_Career]
GO
ALTER TABLE [dbo].[Roadmaps]  WITH CHECK ADD  CONSTRAINT [FK_Roadmaps_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[StudentProfiles] ([student_id])
GO
ALTER TABLE [dbo].[Roadmaps] CHECK CONSTRAINT [FK_Roadmaps_Student]
GO
ALTER TABLE [dbo].[Roadmaps]  WITH CHECK ADD  CONSTRAINT [FK_Roadmaps_Template] FOREIGN KEY([template_id])
REFERENCES [dbo].[RoadmapTemplates] ([template_id])
GO
ALTER TABLE [dbo].[Roadmaps] CHECK CONSTRAINT [FK_Roadmaps_Template]
GO
ALTER TABLE [dbo].[RoadmapSteps]  WITH CHECK ADD  CONSTRAINT [FK_RoadmapSteps_Roadmap] FOREIGN KEY([roadmap_id])
REFERENCES [dbo].[Roadmaps] ([roadmap_id])
GO
ALTER TABLE [dbo].[RoadmapSteps] CHECK CONSTRAINT [FK_RoadmapSteps_Roadmap]
GO
ALTER TABLE [dbo].[RoadmapTemplates]  WITH CHECK ADD  CONSTRAINT [FK_RoadmapTpl_Admin] FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[RoadmapTemplates] CHECK CONSTRAINT [FK_RoadmapTpl_Admin]
GO
ALTER TABLE [dbo].[RoadmapTemplates]  WITH CHECK ADD  CONSTRAINT [FK_RoadmapTpl_Career] FOREIGN KEY([career_id])
REFERENCES [dbo].[Careers] ([career_id])
GO
ALTER TABLE [dbo].[RoadmapTemplates] CHECK CONSTRAINT [FK_RoadmapTpl_Career]
GO
ALTER TABLE [dbo].[RoadmapTemplateSteps]  WITH CHECK ADD  CONSTRAINT [FK_RoadmapTplStep_Template] FOREIGN KEY([template_id])
REFERENCES [dbo].[RoadmapTemplates] ([template_id])
GO
ALTER TABLE [dbo].[RoadmapTemplateSteps] CHECK CONSTRAINT [FK_RoadmapTplStep_Template]
GO
ALTER TABLE [dbo].[SavedItems]  WITH CHECK ADD  CONSTRAINT [FK_SavedItems_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[SavedItems] CHECK CONSTRAINT [FK_SavedItems_User]
GO
ALTER TABLE [dbo].[SemesterMilestones]  WITH CHECK ADD FOREIGN KEY([program_id])
REFERENCES [dbo].[DegreePrograms] ([program_id])
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_User]
GO
ALTER TABLE [dbo].[SkillGapAnalysis]  WITH CHECK ADD  CONSTRAINT [FK_SGA_Career] FOREIGN KEY([career_id])
REFERENCES [dbo].[Careers] ([career_id])
GO
ALTER TABLE [dbo].[SkillGapAnalysis] CHECK CONSTRAINT [FK_SGA_Career]
GO
ALTER TABLE [dbo].[SkillGapAnalysis]  WITH CHECK ADD  CONSTRAINT [FK_SGA_Skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[Skills] ([skill_id])
GO
ALTER TABLE [dbo].[SkillGapAnalysis] CHECK CONSTRAINT [FK_SGA_Skill]
GO
ALTER TABLE [dbo].[SkillGapAnalysis]  WITH CHECK ADD  CONSTRAINT [FK_SGA_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[StudentProfiles] ([student_id])
GO
ALTER TABLE [dbo].[SkillGapAnalysis] CHECK CONSTRAINT [FK_SGA_Student]
GO
ALTER TABLE [dbo].[StudentCourses]  WITH CHECK ADD  CONSTRAINT [FK_StudCourse_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[InstituteCourses] ([course_id])
GO
ALTER TABLE [dbo].[StudentCourses] CHECK CONSTRAINT [FK_StudCourse_Course]
GO
ALTER TABLE [dbo].[StudentCourses]  WITH CHECK ADD  CONSTRAINT [FK_StudCourse_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[StudentProfiles] ([student_id])
GO
ALTER TABLE [dbo].[StudentCourses] CHECK CONSTRAINT [FK_StudCourse_Student]
GO
ALTER TABLE [dbo].[StudentProfiles]  WITH CHECK ADD  CONSTRAINT [FK_StudentProfiles_Universities] FOREIGN KEY([university_id])
REFERENCES [dbo].[Universities] ([university_id])
GO
ALTER TABLE [dbo].[StudentProfiles] CHECK CONSTRAINT [FK_StudentProfiles_Universities]
GO
ALTER TABLE [dbo].[StudentProfiles]  WITH CHECK ADD  CONSTRAINT [FK_StudentProfiles_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[StudentProfiles] CHECK CONSTRAINT [FK_StudentProfiles_User]
GO
ALTER TABLE [dbo].[StudentSkills]  WITH CHECK ADD  CONSTRAINT [FK_StudentSkills_Skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[Skills] ([skill_id])
GO
ALTER TABLE [dbo].[StudentSkills] CHECK CONSTRAINT [FK_StudentSkills_Skill]
GO
ALTER TABLE [dbo].[StudentSkills]  WITH CHECK ADD  CONSTRAINT [FK_StudentSkills_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[StudentProfiles] ([student_id])
GO
ALTER TABLE [dbo].[StudentSkills] CHECK CONSTRAINT [FK_StudentSkills_Student]
GO
ALTER TABLE [dbo].[UniversityPrograms]  WITH CHECK ADD FOREIGN KEY([program_id])
REFERENCES [dbo].[DegreePrograms] ([program_id])
GO
ALTER TABLE [dbo].[UniversityPrograms]  WITH CHECK ADD FOREIGN KEY([university_id])
REFERENCES [dbo].[Universities] ([university_id])
GO
ALTER TABLE [dbo].[UniversityRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_UniRec_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[StudentProfiles] ([student_id])
GO
ALTER TABLE [dbo].[UniversityRecommendations] CHECK CONSTRAINT [FK_UniRec_Student]
GO
ALTER TABLE [dbo].[UniversityRecommendations]  WITH CHECK ADD  CONSTRAINT [FK_UniRec_Uni] FOREIGN KEY([university_id])
REFERENCES [dbo].[Universities] ([university_id])
GO
ALTER TABLE [dbo].[UniversityRecommendations] CHECK CONSTRAINT [FK_UniRec_Uni]
GO
ALTER TABLE [dbo].[Announcements]  WITH CHECK ADD  CONSTRAINT [CK_Announcements_Role] CHECK  (([target_role]='Admin' OR [target_role]='Company' OR [target_role]='Student' OR [target_role] IS NULL))
GO
ALTER TABLE [dbo].[Announcements] CHECK CONSTRAINT [CK_Announcements_Role]
GO
ALTER TABLE [dbo].[Careers]  WITH CHECK ADD  CONSTRAINT [CK_Careers_Demand] CHECK  (([demand_level]='High' OR [demand_level]='Medium' OR [demand_level]='Low' OR [demand_level] IS NULL))
GO
ALTER TABLE [dbo].[Careers] CHECK CONSTRAINT [CK_Careers_Demand]
GO
ALTER TABLE [dbo].[Careers]  WITH CHECK ADD  CONSTRAINT [CK_Careers_Trend] CHECK  (([job_market_trend]='Declining' OR [job_market_trend]='Stable' OR [job_market_trend]='Rising' OR [job_market_trend] IS NULL))
GO
ALTER TABLE [dbo].[Careers] CHECK CONSTRAINT [CK_Careers_Trend]
GO
ALTER TABLE [dbo].[CareerSkills]  WITH CHECK ADD  CONSTRAINT [CK_CareerSkills_Importance] CHECK  (([importance_level]='Critical' OR [importance_level]='High' OR [importance_level]='Medium' OR [importance_level]='Low' OR [importance_level] IS NULL))
GO
ALTER TABLE [dbo].[CareerSkills] CHECK CONSTRAINT [CK_CareerSkills_Importance]
GO
ALTER TABLE [dbo].[JobApplications]  WITH CHECK ADD  CONSTRAINT [CK_JobApp_Status] CHECK  (([status]='Withdrawn' OR [status]='Hired' OR [status]='Rejected' OR [status]='Shortlisted' OR [status]='Reviewed' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[JobApplications] CHECK CONSTRAINT [CK_JobApp_Status]
GO
ALTER TABLE [dbo].[JobPostings]  WITH CHECK ADD  CONSTRAINT [CK_JobPostings_Status] CHECK  (([status]='Closed' OR [status]='Active' OR [status]='Draft'))
GO
ALTER TABLE [dbo].[JobPostings] CHECK CONSTRAINT [CK_JobPostings_Status]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [CK_Notifications_Type] CHECK  ((lower([type])='phasedeadline' OR lower([type])='roadmapdeadline' OR lower([type])='roadmapoverdue' OR lower([type])='info' OR lower([type])='alert' OR lower([type])='message' OR lower([type])='system' OR lower([type])='application'))
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [CK_Notifications_Type]
GO
ALTER TABLE [dbo].[RoadmapProgress]  WITH CHECK ADD  CONSTRAINT [CK_RoadmapProg_Status] CHECK  (([status]='Completed' OR [status]='In Progress' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[RoadmapProgress] CHECK CONSTRAINT [CK_RoadmapProg_Status]
GO
ALTER TABLE [dbo].[Roadmaps]  WITH CHECK ADD  CONSTRAINT [CK_Roadmaps_Type] CHECK  (([type]='Mixed' OR [type]='Education' OR [type]='Career'))
GO
ALTER TABLE [dbo].[Roadmaps] CHECK CONSTRAINT [CK_Roadmaps_Type]
GO
ALTER TABLE [dbo].[SavedItems]  WITH CHECK ADD  CONSTRAINT [CK_SavedItems_Type] CHECK  (([item_type]='University' OR [item_type]='Course' OR [item_type]='Job' OR [item_type]='Career'))
GO
ALTER TABLE [dbo].[SavedItems] CHECK CONSTRAINT [CK_SavedItems_Type]
GO
ALTER TABLE [dbo].[StudentCourses]  WITH CHECK ADD  CONSTRAINT [CK_StudCourse_Status] CHECK  (([status]='Dropped' OR [status]='Completed' OR [status]='In Progress' OR [status]='Enrolled'))
GO
ALTER TABLE [dbo].[StudentCourses] CHECK CONSTRAINT [CK_StudCourse_Status]
GO
ALTER TABLE [dbo].[StudentSkills]  WITH CHECK ADD  CONSTRAINT [CK_StudentSkills_Level] CHECK  (([proficiency_level]='Expert' OR [proficiency_level]='Advanced' OR [proficiency_level]='Intermediate' OR [proficiency_level]='Beginner' OR [proficiency_level] IS NULL))
GO
ALTER TABLE [dbo].[StudentSkills] CHECK CONSTRAINT [CK_StudentSkills_Level]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([role]='Admin' OR [role]='Company' OR [role]='Student'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSkillsByStudentDepartment]    Script Date: 7/18/2026 8:44:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetSkillsByStudentDepartment]
    @student_id INT
AS
BEGIN
    DECLARE @field_of_study NVARCHAR(100);
    DECLARE @mapped_category NVARCHAR(50);

    SELECT @field_of_study = field_of_study
    FROM [dbo].[StudentProfiles]
    WHERE student_id = @student_id;

    SET @mapped_category =
        CASE
            WHEN @field_of_study LIKE '%Pre-Engineering%'
              OR @field_of_study LIKE '%Engineering%'       THEN 'Pre-Engineering'
            WHEN @field_of_study LIKE '%Pre-Medical%'
              OR @field_of_study LIKE '%Medical%'
              OR @field_of_study LIKE '%Biology%'
              OR @field_of_study LIKE '%Psychology%'        THEN 'Pre-Medical'
            WHEN @field_of_study LIKE '%ICS%'
              OR @field_of_study LIKE '%Computer%'
              OR @field_of_study LIKE '%Software%'
              OR @field_of_study LIKE '%IT%'                THEN 'ICS'
            WHEN @field_of_study LIKE '%Commerce%'
              OR @field_of_study LIKE '%BBA%'
              OR @field_of_study LIKE '%Business%'
              OR @field_of_study LIKE '%Accounting%'
              OR @field_of_study LIKE '%Finance%'           THEN 'Commerce'
            WHEN @field_of_study LIKE '%English%'
              OR @field_of_study LIKE '%Humanities%'
              OR @field_of_study LIKE '%Mass Comm%'
              OR @field_of_study LIKE '%Arts%'
              OR @field_of_study LIKE '%Law%'               THEN 'Humanities'
            ELSE 'General'
        END;

    SELECT
        s.skill_id,
        s.skill_name,
        s.category
    FROM [dbo].[Skills] s
    WHERE s.category = 'General'
       OR s.category = @mapped_category
    ORDER BY
        CASE s.category WHEN 'General' THEN 2 ELSE 1 END,
        s.skill_name;
END
GO
USE [master]
GO
